{% extends 'base.html' %}
{% block content %}
    <h1>Profile Page</h1>

    <form method="POST" class="container col-4">
        {{ form.hidden_tag() }}
    
        {{ form.first_name(class='form-control', placeholder='first_name') }}
        
        {{ form.last_name(class='form-control', placeholder='last_name') }}
        {{ form.gender(class='form-control', placeholder='gender') }}
        {{ form.age(class='form-control', placeholder='age') }}
        
        {{ form.submit(class='btn btn-primary') }}
    </form>

 
{% endblock %}